.vs/util_sound/v15/ipch/AutoPCH/e4bf9b92e66ea9e9/UTIL_SOUND.ipch
.vs/util_sound/v15/ipch/AutoPCH/db0e3623634e8749/APETAG.ipch
.vs/util_sound/v15/Browse.VC.db
util_sound.VC.db
.vs/util_sound/v15/ipch/AutoPCH/7b8b6298a8a1ae17/ID3V2TAG.ipch
util_sound/x64/Release/util_sound.tlog/CL.command.1.tlog
util_sound/x64/Release/util_sound.tlog/util_sound.lastbuildstate
util_sound/x64/Release/util_sound.tlog/Lib.command.1.tlog
util_sound/x64/Release/util_sound.tlog/Lib-link.write.1.tlog
util_sound/x64/Release/util_sound.tlog/Lib-link.read.1.tlog
util_sound/x64/Release/util_sound.tlog/CL.write.1.tlog
util_sound/x64/Release/util_sound.tlog/CL.read.1.tlog
